.mob-container {
    width: 800px;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #ddd;
    margin: 20px auto;

}
.headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
}